@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  font-family: "Roboto Condensed", sans-serif;
}

/* ALL */

.App {
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 8px;
}
h3 {
  font-size: 18px;
  text-transform: uppercase;
}

p {
  line-height: 25px;
}
/* HEADER */

header {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ff0000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}
header > img {
  margin-left: 15px;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header a:hover {
  text-decoration: underline;
  font-weight: bold;
}
header div {
  margin-right: 40px;
  display: flex;
  gap: 15px;
}

/* CHARACTERS */

.characters-main {
  font-family: "Roboto Condensed", sans-serif;
  background-color: black;
  background-image: url("./assets/characters.png");
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  border: 5px red solid;
}

.characters-main > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px auto;
  padding-top: 40px;
  width: 80%;
}

.title-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-search input {
  width: 500px;
  height: 35px;
  border-radius: 10px;
  padding: 10px;
  border: #ff0000 solid 2px;
  font-size: 15px;
}

.characters-grid {
  display: flex;
  justify-content: last baseline;
  gap: 50px;
  flex-wrap: wrap;
}

.characters-grid > div > button {
  margin-top: 8px;
  background-color: red;
  border: none;
  color: white;
}

.character-tile {
  width: 200px;
}
.characters-thumbnail {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.characters-thumbnail > img {
  border-bottom: 5px red solid;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.navigation > button {
  background-color: #ff0000;
  color: white;
  font-size: 25px;
  border: none;
  width: 250px;
  height: 40px;
}

/* CHARACTER */

.character-main {
  display: flex;
  justify-content: right;
}

.character-header {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  background-color: #ff0000;
  opacity: 0.7;
  padding: 30px;
  margin-bottom: 50px;
}
.chart .charater-title > img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 30px;
}

.character-details {
  display: flex;
  gap: 50px;
}

.character-comics {
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  padding-top: 0px;
  border-bottom: solid 1px red;
}

.character-details h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

.character-comics h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* STARRED */
.starred-list {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px red solid;
}

.starred-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.starred-details button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px;
}

.starred-details a {
  text-decoration: none;
}
.starred-details a :hover {
  text-decoration: underline;
}
/* FOOTER */

footer {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  background-color: #ff0000;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
